@model Party.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <p>Ваше имя: @Html.TextBoxFor(x => x.Name) </p>
        <p>Ваш email: @Html.TextBoxFor(x => x.Email) </p>
        <p>Ваш телефон: @Html.TextBoxFor(x => x.Phone) </p>
        <p>Вы придете? @Html.DropDownListFor(x => x.WillAttent, new[]{
                      new SelectListItem() { Text="Да, конечно буду", Value = Boolean.TrueString  },
                      new SelectListItem() { Text="Нет, не смогу", Value = Boolean.TrueString  }
                      }) </p>
        <input type="submit" value="Отправить форму RSVP">
    }
</body>
</html>
