@model QuestRooms.Models.User

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p> <label>Логин: </label> <input name="Name" /></p>
    <p> <label>Пароль: </label> <input name="Password" /></p>
    <input type="submit" value="В нарнию" />
}

